Actividad4/Clientes.dtd

<!ELEMENT clientes (sede*)>
<!ELEMENT sede (direccion, nombreempleado, fecha, descripcion, cliente*)>
<!ELEMENT cliente (numero, coste, resumen, plazos)>
<!ELEMENT direccion (#PCDATA)>
<!ELEMENT nombreempleado (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT cliente (#PCDATA)>
<!ELEMENT numero (#PCDATA)>
<!ELEMENT coste (#PCDATA)>
<!ELEMENT resumen (#PCDATA)>
<!ELEMENT plazos (#PCDATA)>